{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        clj-http/clj-http {:mvn/version "3.13.0"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        org.babashka/cli {:mvn/version "0.8.61"}}
 :aliases
 {:run   {:main-opts ["-m" "conao3.casana.core"]}
  :test  {:extra-paths ["test"]
          :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
          :main-opts ["-m" "kaocha.runner"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.6"}}
          :ns-default build}}}
